#hourly-emoji,
#hourly {
  margin: 0 5px auto;
  border: none;
  line-height: 0mm;
  padding: 0px;
  text-align: center;
}

##hourly-emoji {
  width: 15px;
}

#daysForecast,
#weatherForecast,
#emojiForecast {
  margin: 0 auto;
  list-style: none;
  text-align: left;
  padding: 2px;
}
