#weather-app {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  border: 2px solid #24648f;
  border-radius: 10px;
  background-image: url(https://images.pexels.com/photos/139366/pexels-photo-139366.jpeg?cs=srgb&dl=pexels-donald-tong-139366.jpg&fm=jpg);
}

#left-card {
  margin: 5px auto;
  background-color: #bcd2e0;
  padding: 5px;
}

#right-card {
  margin: 30px auto;
  background-color: #bcd2e0;
  padding: 5px;
}

li,
.border-light {
  position: relative;
  display: block;
  text-align: center;
  margin: 0 auto;
}

#firstIC {
  margin-bottom: 0px;
}

#Forecast-days,
#Forecast-weather {
  margin: 0 auto;
  list-style: none;
  text-align: center;
  padding: 2px;
}

ul {
  padding: 0px;
  text-align: center;
}

#cityNow,
#temp,
#descrip,
#max_min,
#title2 {
  font-size: 27px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
}

#max_min {
  font-size: 20px;
  color: #0000008a;
}

.icon {
  margin: 0 auto;
}

.card-body {
  padding-bottom: 0px;
}

#city,
#estatus {
  padding: 10px;
}

a.active {
  color: #007bff;
}

a.unactive {
  color: #000000;
}
